<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../node_modules/vue/dist/vue.min.js"></script>
</head>

<body>
    <h1 id="app">
        <input type="text" v-model="n1">
        <select v-model="operator">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">×</option>
            <option value="/">÷</option>
        </select>
        <input type="text" v-model="n2">
        <input type="button" value="=" @click="start">
        <input type="text" disabled :value="result">
    </h1>
    <script>
        var vm = new Vue({
            el: "#app",
            data:{
                n1:"0",
                n2:"0",
                operator:"+",
                result:"0"
            },
            methods:{
                start(){
                    switch(this.operator){
                        case "+":
                        this.result = parseFloat(this.n1)+parseFloat(this.n2)
                        break;
                        case "-":
                        this.result = paeseFloat(this.n1)-parseFloat(this.n2)
                        break;
                        case "*":
                        this.result = parseFloat(this.n1)*parseFloat(this.n2)
                        break;
                        case "/":
                        this.result = parseFloat(this.n1)/parseFloat(this.n2)
                    }
                }
            }
        })
    </script>
</body>

</html>